.App {
  font-family: sans-serif;
  padding: 2vh;
}

h1 {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.App > * + * {
  margin-bottom: 2rem;
}

.row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}
